

@media screen and (min-widht:768px)
{
    .container{
        width: 70%;
    }
}    

.detail{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    width: 100%;
    
}

content{
    width: 100%;
    color: black;
    
    
}


@media screen and (min-width: 768px){
    .detail__image{
        width: 50%;
    }

    .content{
        padding-left: 3rem;
        width: 50%; 
    }
}