nav{
    background-color: rgb(7, 90, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
   
}

.nav_link{
 
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: larger;
    font-weight: 650;
}   

nav ul li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 4%;
    
} 

.container{
    margin: 0;
    padding: 0;
    margin-right: 1%;
}
